---
layout: default
scripts:
  - /assets/js/home.js
---

<main class="home">
  <section class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="home-carousel stagger">
          {% for message in site.homeMessages %}
          <div data-color="{{ message.color }}" data-id="{{ message.dataId }}" class="home-message">
            <h2 class="home-title">We provide businesses
              <span class="theme-textColor">{{ message.title }}</span>
            </h2>
            <p class="home-paragraph">{{ message.paragraph }}</p>
            <a class="home-byline">
              {% assign noImage = true %}
              {% if message.byline.image %}
                <img class="home-bylineImage" src="{{base}}{{ message.byline.image }}" />
              {% endif %}
              <div class="home-bylineText {% if noImage %}noImage{% endif %}">
                <h5 class="home-bylineName">{{ message.byline.name }}</h5>
                <p class="home-bylineTitle">{{ message.byline.title }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="slash-graphic pointer">
          {% for message in site.homeMessages %}
            <div class="slash-graphic-slide {% if forloop.first %}active{% endif %}" data-id="{{ message.dataId }}">
              <img class="slash-graphic-image" src="{{base}}{{ message.slash.image }}" alt="Decorative graphic" />
            </div>
          {% endfor %}
          <svg class="slash-graphic-slash" viewBox="0 0 520 820" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: translate(-0.768705px, 9.7164px);">
				    <g stroke="none" stroke-width="1" fill="none">
				        <g class="slashGraphic-slashPath theme-fill" fill="transparent">
				            <path d="M507.714566,10 L365.319492,324.383974 L330.631139,401.062993 L153.485989,792.125985 L147.560577,805.130747 L141.696887,792.125985 L63,618.279315 L126.698186,477.742011 L161.38654,401.062993 L338.531689,10 L507.714566,10"></path>
				        </g>
				    </g>
				  </svg>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="home-partners">
      <h5>Our Partners</h5>
      <div class="row stagger-children">
        <div class="col-6 col-md-3 v-center-wrapper">
          <img class="v-center" src="{{base}}/assets/img/partners/pizza-hut.jpg" />
          <img class="vis-hidden" src="{{base}}/assets/img/partners/pizza-hut.jpg" />
        </div>
        <div class="col-6 col-md-3 v-center-wrapper">
          <img class="v-center" src="{{base}}/assets/img/partners/kfc.png" />
          <img class="vis-hidden" src="{{base}}/assets/img/partners/kfc.png" />
        </div>
        <div class="col-6 col-md-3 v-center-wrapper">
          <img class="v-center" src="{{base}}/assets/img/partners/dominos.png" />
          <img class="vis-hidden" src="{{base}}/assets/img/partners/dominos.png" />
        </div>
        <div class="col-6 col-md-3 v-center-wrapper">
          <img class="v-center" src="{{base}}/assets/img/partners/taco-bell.jpg" />
          <img class="vis-hidden" src="{{base}}/assets/img/partners/taco-bell.jpg" />
        </div>
      </div>
    </div>
  </section>
  <section class="container inquiry">
    <h4>Have an inquiry?</h4>
    <a class="button button--themed" href="mailto:devon@usarestaurantsupplier.com?subject=USA%20Restaurant%20Services%20Inquiry" target="_BLANK">Contact Us</a>
  </section>
</main>
