---
layout: default
scripts:
  - /assets/js/services.js
---

<main class="services container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="header-text less">
        <h2 class="header-headline stagger">Services</h2>
        <ul class="stagger-children">
          <li>
            <a class="theme-textColor" href="#general">General</a>
          </li>
          <li>
            <a class="theme-textColor" href="#maintenance">Preventative Maintenance</a>
          </li>
          <li>
            <a class="theme-textColor" href="#repair">Repair and Replacement</a>
          </li>
          <li>
            <a class="theme-textColor" href="#plumbing">Plumbing</a>
          </li>
          <li>
            <a class="theme-textColor" href="#electrical">Electrical</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="header-text less stagger-children">
        <h4>Schedule your
          <span class="theme-textColor">$1</span> inspection to find out what you need</h4>
        <a class="button button--themed" href="https://squareup.com/appointments/book/7N47WJF1PYGTV/usa-restaurant-services" target="_BLANK">Book an Appointment</a>
      </div>
    </div>
  </div>
  <section class="services-list">
    {% assign groups = "General, Preventative Maintenance, Repair and Replacement, Plumbing, Electrical" | split: ', ' %}
    {% assign gIds = "general, maintenance, repair, plumbing, electrical" | split: ', ' %}
    {% for group in groups %}
      <div class="row" id="{{ gIds[forloop.index0] }}">
        <div class="col-12">
          <h5 class="group stagger">{{ group }}</h5>
        </div>
        {% for item in site.services %}
          {% if item.group == group %}
            <div class="col-12 col-md-4">
              <p class="service stagger">{{ item.service }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </section>
</main>