---
layout: default
scripts:
  - /assets/js/services.js
---

<main class="services container">
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="header-text less">
        <h2 class="header-headline stagger">Services</h2>
        <ul class="stagger-children">
          <li>
            <a class="theme-textColor" href="#general">General</a>
          </li>
          <li>
            <a class="theme-textColor" href="#maintenance">Preventative Maintenance</a>
          </li>
          <li>
            <a class="theme-textColor" href="#repair">Repair and Replacement</a>
          </li>
          <li>
            <a class="theme-textColor" href="#plumbing">Plumbing</a>
          </li>
          <li>
            <a class="theme-textColor" href="#electrical">Electrical</a>
          </li>
        </ul>
      </div>
      <div class="stagger-children">
        <h5>Schedule your <span class="theme-textColor">$1</span> inspection to find out what you need</h5>
        <a class="button button--themed" href="https://squareup.com/appointments/book/7N47WJF1PYGTV/usa-restaurant-services" target="_BLANK">Book an Appointment</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-md-offset-1">
      <div class="slash-graphic pointer">
        <div class="slash-graphic-slide active">
          <img class="slash-graphic-image" src="/assets/img/toolbox.png" alt="Decorative graphic" />
        </div>
        <svg class="slash-graphic-slash" viewBox="0 0 520 820" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: translate(-0.768705px, 9.7164px);">
          <g stroke="none" stroke-width="1" fill="none">
            <g class="slashGraphic-slashPath theme-fill" fill="transparent">
              <path d="M507.714566,10 L365.319492,324.383974 L330.631139,401.062993 L153.485989,792.125985 L147.560577,805.130747 L141.696887,792.125985 L63,618.279315 L126.698186,477.742011 L161.38654,401.062993 L338.531689,10 L507.714566,10"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <section class="services-list">
    {% assign groups = "General, Preventative Maintenance, Repair and Replacement, Plumbing, Electrical" | split: ', ' %}
    {% assign gIds = "general, maintenance, repair, plumbing, electrical" | split: ', ' %}
    {% for group in groups %}
      <div class="row" id="{{ gIds[forloop.index0] }}">
        <div class="col-12">
          <h5 class="group stagger">{{ group }}</h5>
        </div>
        {% for item in site.services %}
          {% if item.group == group %}
            <div class="col-12 col-md-4">
              <p class="service stagger">{{ item.service }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </section>
</main>