form {
  .form-title {
    margin: 10px 0;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0 5px 10px;
  }
}